.menu
    margin: 0
    padding: 1rem 0
    list-style: none

    &__item
        display: inline-block
        padding: .5rem 1rem
        margin: 0 .5rem
        background: #EEE
        border-radius: .5rem
        cursor: pointer

        &:is-active
            background: #DDD
