html,
body
    margin: 0
    padding: 0
    height: 100%
    font-size: 14px

.root
    width: 80%
    height: 100%
    margin: 0 auto
    font: 2rem Helvetica, Arial, sans-serif 
    text-align: center
    background: #FFF
    color: #333   
